* {
    margin: 0;
    padding: 0;
}
body {
    background: url(p4.jpg);
}
.container {
    width: 80%;
    margin: 80px auto;
}
.container h1 {
    font-family: pacifico;
    font-size: 500%;
    padding: 60px 0;
    color: rgb(4, 255, 9);
    font-weight: 900;
}

.v1 video , .v5 video {
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(209, 231, 82);
    margin:0px 40px;
    width: 450px;
    padding: 10px;
}
.v2 video, .v3 video, .v4 video {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(166, 221, 16, 0.829);
    margin:30px 20px;
    width: 350px;
    padding: 10px;
}

.v1 a, .v2 a, .v3 a, .v4 a, .v5 a {
    font-family: 'kings', cursive;
    color: cornsilk;
    font-style: italic;
    font-size: 170%;
}

.r1 {
    display: flex;
    align-items: center;
}






























